@import "themes/catppuccin-frappe.css";

* {
    all: unset;
    font-family: "Google Sans Flex", "Rubik", "JetBrainsMono Nerd Font Propo";
}

tooltip {
    background-color: @surface0;
    color: @rosewater;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.modules-center, .modules-left, .modules-right {
    background-color: @base;
    color: @rosewater;
    padding: 2px 8px;
    border-radius: 99px;
}

#clock {
    font-weight: 500;
}

#workspaces {
    min-width: 100px;
    background-color: @sufrace1;
    padding: 2px 4px;
    margin: 2px 0;
    border-radius: 99px;
}

#workspaces button {
    background-color: @surface2;
    padding: 2px 4px;
    border-radius: 99px;
    margin: 0 2px;
    transition: all 300ms ease-in-out;
    min-width: 7px;
}

#workspaces button.empty {
    color: @overlay1;
}

#workspaces button.active {
    background-color: @green;
    color: @surface0;
    min-width: 1.5rem;
    font-weight: 500;
    transition: none;
}

#battery {
    background-color: @surface0;
    margin: 5px 0;
    padding: 0 4px;
    border-radius: 99px;
    font-weight: 500;
    color: @green;
}

#battery.warning {
    background-color: @yellow;
}

#battery.critical {
    background-color: @red;
}

